// vim: syntax=groovy expandtab
/****************************************
 * CTMR metagenome simulation and 
 * sequencing depth estimation pipeline 
 * ------------------------------------
 * All environment-specific configurations
 * are stored in the 'conf' folder and
 * imported under profile names here.
 * Copyright (c) Authors 2017 
 * Authors:
 *  Fredrik Boulund <fredrik.boulund@ki.se>
 *  Luisa Hugerth <luisa.warchavchik.hugerth@ki.se>
 ****************************************/


profiles {
    ctmr_nas {
        includeConfig 'conf/ctmr_nas.config'
    }
}

manifest {
    homePage = 'https://github.com/ctmrbio/estimate_seq_depth'
    description = '''Pipeline for estimation of the sequencing depth required for different types of metagenomic samples.'''
    mainScript = 'main.nf'
}
