// vim: syntax=groovy expandtab
/****************************************
 * CTMR metagenomics profiling 
 * Copyright (c) Authors 2017 
 * Authors:
 *  Fredrik Boulund <fredrik.boulund@ki.se>
 ****************************************/

params {
    outdir = 'nextflow_output/'
    input_reads = '' 	// Specify on command line as: --input_reads path/to/reads*{1,2}.fq
    input_contigs = '' 	// Specify on command line as: --input_contigs path/to/contigs*.fa
    kaiju_db = '$CTMR/db/kaiju/latest/kaiju_db.fmi'
    kaiju_nodes = '$CTMR/db/kaiju/latest/nodes.dmp'
    kaiju_names = '$CTMR/db/kaiju/latest/names.dmp'
    metaphlan_pickle = '$CTMR/db/metaphlan2/db_v20/mpa_v20_m200.pkl'
    metaphlan_bowtie2_db = '$CTMR/db/metaphlan2/db_v20/mpa_v20_m200'
    centrifuge_index_prefix = '$CTMR/db/centrifuge/2016-12-06/p+h+v'
    tigrfam_cutoffs = '$CTMR/db/TIGRFAMs/latest/TIGRFAM_cutoffs.tsv'
    tigrfams_lib = '$CTMR/db/TIGRFAMs/latest/LIB/TIGRFAMs_15.0_HMM.LIB'
    mgm_model = '$CTMR/src/MetaGeneMark_linux_64/mgm/MetaGeneMark_v1.mod'
}

env {
    PATH = ["",
            "",
            '$PATH'].join(":")
}

process {
    executor = 'local'
    errorStrategy = 'ignore' 
    stageInMode = 'symlink'
    stageOutMode = 'move'

    // Resource and module requirements for processes
    $kaiju {
        cpus = 8
        memory = 20.GB  // Documentation says about 13GB for proGenomes
        time = 1.h // {1.h * task.attempt}
    }
    $metaphlan2 {
        cpus = 8
        memory = 20.GB  
        time = 2.h // {3.h * task.attempt}
    }
    $centrifuge {
        cpus = 8
        memory = 20.GB  
        time = 2.h // {3.h * task.attempt}
    }
    $hmmsearch_tigrfam {
        cpus = 12
        memory = 64.GB
        time = 6.h
    }
    $assemble {
        cpus = 20
        memory = 128.GB
        time = 2.h
    }
}
